@media screen {
  .authComponent {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .authComponentBgImage {
    height: 100%;
    display: flex;
    color: var(--background-color);
    background-color: var(--primary-color);
  }



  .authWrapper {
    width: 90%;
    padding: 10px;
    display: flex;
    height: fit-content;
    border-radius: 12px;
    background: rgba(0, 3, 40, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid var(--background-light-color);
  }

  .formContainer {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }

  .formLogo {
    padding: 10px;
    border-radius: 12px;
    width: fit-content;
    border: 1px solid var(--background-light-color);

  }


  .formHeader {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .formHeader h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .formHeader p {
    font-size: 1rem;
  }

  .authInput {
    gap: 20px;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    border-radius: 8px;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--background-light-color);
  }

  .authInput:hover {
    border: 1px solid var(--secondary-light-color);
  }

  .authInput input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    color: var(--background-color);
  }

  .authInput input:focus {
    background-color: transparent;
  }

  .authInput input:-webkit-autofill,
  .authInput input:-webkit-autofill:hover,
  .authInput input:-webkit-autofill:focus,
  .authInput input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--background-color) !important;
  }

  .authInput input::placeholder {
    font-size: 0.8rem;
    text-transform: capitalize;
    color: var(--background-color);
  }

  .authInput select {
    width: 100%;
    padding: 10px;
    color: var(--background-color);
    background-color: transparent;
    border: none;
  }

  .showBtn {
    cursor: pointer;
    background-color: transparent;
  }

  .authIcon {
    color: var(--background-color);
  }

  .termsContainer {
    gap: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  .termsContainer input[type="checkbox"] {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    border: double 2px var(--background-color);
    background-color: transparent;
    color: var(--background-color);
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    width: 20px;
    height: 20px;
  }

  .termsContainer input[type="checkbox"]:checked {
    background-color: transparent;
    border-left-color: var(--background-color);
    border-right-color: var(--background-color);
  }

  .termsContainer label {
    cursor: pointer;
    font-size: 0.8rem;
  }

  .formAuthButton {
    gap: 10px;
    width: 100%;
    max-height: 50px;
    min-height: 50px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;
    color: var(--primary-color);
    background-color: var(--background-color);
  }

  .activeFormAuthButton {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .formAuthButton:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .formChange {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .formChange span {
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
  }

  .authBottomBtn p span {
    font-size: 1rem;
    text-decoration: underline;
  }

  .formContainer h3 {
    gap: 20px;
    display: flex;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .btnLogin {
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
  }

  .btnLogin:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .authComponent {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    align-items: center;
    flex-direction: row;
    background-color: var(--primary-color);
  }

  .formContainer {
    gap: 30px;
  }

  .formLogo {
    border: 4px solid var(--primary-light-color);
  }

  .slideController {
    width: 100%;
    z-index: 9999;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .slideBtn {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  .slideBtn:hover {
    color: var(--secondary-color);
  }

  .imageSlider {
    gap: 5px;
    padding: 10px;
    display: flex;
    height: inherit;
    align-items: end;
    justify-content: start;
    border-radius: inherit;
  }

  .circleAdv {
    width: 10px;
    height: 10px;
    border-radius: 360%;
    border: 2px solid var(--background-color);
  }

  .activeCircle {
    width: 20px;
    height: 10px;
    border-radius: 12px;
    background-color: var(--background-color);
  }

  .authWrapper {
    top: 0;
    left: 0;
    flex: 50%;
    width: 100%;
    height: 100%;
    border: none;
    transform: none;
    padding: 0 30px;
    border-radius: 0;
    position: relative;
    align-items: center;
    backdrop-filter: none;
    justify-content: center;
    -webkit-backdrop-filter: none;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .authComponentBgImage {
    flex: 50%;
    border-radius: 0;
    align-items: end;
    position: relative;
  }

  .authInput {
    border: none;
    background-color: var(--primary-light-color);
  }

  .authInput:hover {
    border: none;
  }
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
  .authWrapper {
    padding: 0 40px;
  }
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .authWrapper {
    padding: 0 50px;
  }
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
  .authWrapper {
    padding: 0 100px;
  }
}
