@media screen {
    .dashcardContainer {
      gap: 10px;
      display: flex;
      padding: 10px 0;
      overflow-x: auto; 
      flex-wrap: nowrap; 
      overflow-y: hidden;
      scroll-behavior: smooth;
      justify-content: flex-start;
      scroll-snap-type: x mandatory;
      min-height: var(--dashboard-card-height);
    }
  
    .dashcard {
      gap: 10px;
      flex-grow: 1;
      width: 300px; 
      padding: 20px;
      display: flex;
      cursor: pointer;
      min-width: 300px;
      border-radius: 12px;
      flex-direction: column;
      justify-content: center;
      scroll-snap-align: center;
      background-color: var(--primary-light-color);
    }

    .dashcard:hover {
      background-color: var(--secondary-color);
    }

    .dashcard:hover .dashcardTitle h3 {
      color: var(--background-color);
    }

    .dashcardActive {
      background-color: var(--secondary-color);

    }

    .dashcardActive .dashcardTitle h3 {
      color: var(--background-color);
    }
  
    .dashcardTitle{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .dashcardTitle h3 {
      font-size: .9rem;
      font-weight: 300;
      color: var(--background-light-color);
    }

    .dashcardTitle h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .dashCardIconWrapper {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      border-radius: 360%;
      justify-content: center;
      background-color: var(--primary-color);
    }

    .statsContainer {
      gap: 4px;
      display: flex;
      align-items: center;
      color: var(--secondary-color);
      
    }

    .statsContainer p {
      font-weight: 100;
      font-size: .9rem;
    }

    .dashcard:hover .statsContainer{
      color: var(--background-color);
    }
    
    .dashcard:hover .dashCardIconWrapper {
      color: var(--secondary-color);
      background-color: var(--background-color);
    }

    .dashcardActive .statsContainer{
      color: var(--background-color);
    }
 
    .dashcardActive .dashCardIconWrapper {
      color: var(--secondary-color);
      background-color: var(--background-color);
    }
    
    
  }
  
  /* For larger devices */
  @media only screen and (min-width: 48em) {
    .dashcardContainer {
      justify-content: space-between;
    }
  
   
  }
  /* iPad Pro & Laptop screens */
  @media only screen and (min-width: 49em) and (max-width: 64em) {
   
  }
  
  /* Desktop and 4k screens */
  @media only screen and (min-width: 64.063em) and (max-width: 90em) {
  
  }
  
  /* 5k screens and above */
  @media only screen and (min-width: 91em) {
  
  }