@media screen {

  .dashboardContainer {
    gap: 10px;
    height: 100%;
    display: flex;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
  }

  .dashboardTitle {
    display: flex;
    flex-direction: column;
  }

  .dashboardTitle h1, .dashboardTitle span {
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  .dashboardTitle span {
    display: flex;
    color: var(--secondary-color);
  
  }


  .dashboardLayout {
    gap: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;

  }

  .sideContent{
    padding: 10px;
    display: flex;
    height: fit-content;
    border-radius: 12px;
    background-color: var(--primary-light-color);
  }    

}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .dashboardContainer {
    overflow: hidden;
    overflow-y: hidden;
  }


  .dashboardTitle {
    gap: 10px;
    align-items: center;
    flex-direction: row;
  }

  .dashboardLayout {
    flex-direction: row;
    height: calc(100% - var(--dashboard-card-height));
  }

  .sideContent{
    flex: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 12px;
    background-color: var(--primary-light-color);
  }   

}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
