@media screen {
  * {
    /* dynamic style */
    --primary-color: #000328ff;
    --secondary-color: #FE850D;
    --background-color: #ffffff;
    --primary-light-color: #101641;
    --primary-glass-color: #161C45;
    --background-light-color: #d3d1d1;
    --shadow-effect: rgba(149, 157, 165, 0.2) 0px 8px 24px;


    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* global-width */
    --sidenav-width: 60px;
    --sideContent-width: 400px;
  }

  /* ::-webkit-scrollbar {
    display: none;
  } */

  body {
    font-weight: 300;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  a,
  router-link {
    text-decoration: none;
  }

  input {
    outline: none;
  }

   input:-webkit-autofill,
   input:-webkit-autofill:hover,
   input:-webkit-autofill:focus,
   input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--background-color) !important;
  }


  button {
    outline: none;
    border: none;
  }

  input:focus,
  input:hover {
    outline: none;
    background-color: transparent;

  }

  input::placeholder {
    color: var(--background-color);
  }


  textarea {
    flex: 1; 
    border: none; 
    outline: none; 
    resize: none; 
    padding: 0.5rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: 4px;
    background: transparent;
  }

   
 textarea::placeholder {
    color: var(--background-color); 
  }


  textarea:focus,
  textarea:hover {
    outline: none;
    border-color: none; 

  }

  select {
    outline: none;
  }
}


.skeleton {
  cursor: progress;
  border-radius: 12px;
  background: linear-gradient(90deg, var(--primary-light-color) 25%, var(--primary-glass-color) 50%, var(--primary-light-color) 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  background-color: var(--background-light-color);
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--primary-color);
}

*::-webkit-scrollbar-track {
  background: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;

  }
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
