@media screen {
  .serviceContainer {
    gap: 10px;
    display: flex;
    padding: 10px 0;
    overflow-x: auto;
    flex-wrap: nowrap;
    overflow-y: hidden;
    scroll-behavior: smooth;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
  }

  .service {
    gap: 10px;
    flex-grow: 1;
    width: 300px;
    padding: 10px;
    display: flex;
    min-width: 280px;
    min-height: 150px;
    align-items: center;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: center;
    color: var(--secondary-color);
    border: 1px solid var(--primary-light-color);
  }

  .service h2 {
    font-size: 1rem !important;
    font-weight: 100;
    text-align: center;
  }

  .service p {
    font-size: 0.9rem !important;
    font-weight: 100;
    text-align: center;
  }
}

/* For larger devices */
@media only screen and (min-width: 48em) {
  .serviceContainer {
    justify-content: space-between;
  }
}
/* iPad Pro & Laptop screens */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* Desktop and 4k screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
