@media screen {
  .formSettingContainer {
    gap: 20px;
    display: flex;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
  }

  .settingWrap {
    width: 100%;
    display: flex;
    position: relative;
    padding: 20px 10px;
    border-radius: 12px;
    flex-direction: column;
    background-color: var(--primary-light-color);
  }


  .profileSection {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  .settingWrap span {
    top: 0;
    right: 0;
    padding: 10px;
    font-weight: 400;
    font-size: 0.7rem;
    position: absolute;
    text-transform: capitalize;
  }

  .profileImageContain {
    width: 80px;
    height: 80px;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
  }

  .profileImage {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
    object-position: center;
    border: 4px solid var(--primary-glass-color);

  }

  .uploadEditIcon {
    bottom: -10px;
    width: 40px;
    right: -10px;
    height: 40px;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border: 3px solid var(--primary-glass-color);
  }

  .uploadEditIcon:hover {
    background-color: var(--secondary-color);
  }

  .EditIcon {
    fill: var(--background-color);
  }

  .profileDetails {
    gap: 5px;
    display: flex;
    padding: 10px 0;
    text-align: center;
    flex-direction: column;
    text-transform: capitalize;
  }

  .profileDetails h1 {
    font-size: .8rem;
    font-weight: 300;
    color: var(--secondary-color);
  }

  .profileDetails h3 {
    padding: 10px;
    font-size: .6rem;
    font-weight: 300;
    border-radius: 12px;
    background-color: var(--primary-glass-color);

  }

  .settingWrapinfo {
    gap: 30px;
    display: flex;
    flex-direction: column;
  }

  .settingWrapS {
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .settingInputContainer {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .settingLabel {
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
  }



  .settingInput {
    gap: 20px;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    border-radius: 8px;
    align-items: center;
    color: var(--background-color) ;
    background-color: var(--primary-light-color);

  }

  .settingInput:hover {
    border: 1px solid var(--secondary-light-color);
  }

  .settingInput input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    color: var(--background-color);
    background: transparent;
    
  }


  
  .settingInput input:-webkit-autofill,
  .settingInput input:-webkit-autofill:hover,
  .settingInput input:-webkit-autofill:focus,
  .settingInput input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--background-color) !important;
  }

  .settingInput input:focus {
    background-color: transparent;
  }

  .settingInput input::placeholder {
    font-size: 0.8rem;
    text-transform: capitalize;
    color: var(--background-color);
  }
  .formChangeS {
    width: 100%;
    padding: 10px;
    display: flex;
    cursor: pointer;
    font-size: 0.9rem;
    align-items: end;
    justify-content: end;
    text-decoration: underline;
    color: var(--secondary-color);
  }

  .formsettingButton {
    gap: 10px;
    width: 100%;
    max-height: 50px;
    min-height: 50px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;
    color: var(--primary-color);
    background-color: var(--background-color);
  }

  .formsettingButton:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .showBtn {
    cursor: pointer;
    color: var(--background-color);
    background-color: transparent;
  }


  .deleteAccount {
    cursor: pointer;
    text-align: center;
    color: var(--secondary-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .formSettingContainer {
    height: 100%;
}
  .settingWrap {
    width: fit-content;
  }

  .profileImageContain {
    width: 100px;
    height: 100px;
  }
  
  .settingWrapinfo {
    gap: 40px;
  }

  .settingWrapS {
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .settingInput {
    padding: 14px;
  }

  .profileDetails {
    text-align: start;
  }

  .profileDetails h3 {
    padding: 10px;
    font-size: .8rem;
    font-weight: 300;
    border-radius: 12px;

  }


}
