@media screen {
.termContainer {
  gap: 30px;
  height: 100%;
  display: flex;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}

.termContainer h1 {
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: capitalize;
}

.termContainer h2 {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
}


.termContainer h3 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}


.termContainer p {
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;

}

.termContainer span {
  text-transform: capitalize;
  color: var(--secondary-color);
}

.termContainer ul {
  gap: 10px;
  display: flex;
  list-style: square;
  flex-direction: column;
}


}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
